/* Overall Element Styling */
:root {
  --primary1: #020B14;
  --primary2: #182738;
  --secondary1: white;
  --accent1: #38c233;
}

* {
  font-family: 'JetBrains Mono', monospace;
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px;
  background-color: var(--primary2);
  border-radius: 5px;
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: var(--accent1); /* Color of the thumb */
  border-radius: 5px; /* Rounded corners */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  background-color: var(--primary1);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

/* Overall Styling */
.background-code {
  color: var(--primary2);
  letter-spacing: 0.3px;
  transition: color 0.2s;
}

/* Header Styling */
#header-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.2s, transform 0.2s;
  z-index: 2;
  box-shadow: inset 0 35px 13px rgba(0, 0, 0, 0.397);
  margin-right: 2rem;
}

#header-navbar.active {
  opacity: 1;
  transform: translateY(0);
}

.logo {
  font-size: 2.2rem;
  color: var(--secondary1);
  font-weight: bold;
  margin-left: 2rem;
}

.logo-code {
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 0.2px;
  color: var(--accent1);
  position: relative;
  bottom: 3px;
}

.header-anchors {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  font-size: 1rem;
}

.menu-button-container {
  width: 40px;
  margin: 2rem;
}

#menu-button {
  display: none;
  width: 100%;
  height: auto;
}

.header-anchors a {
  color: var(--secondary1);
}

.header-anchors a:hover .background-code {
  color: var(--accent1);
}

.header-anchors li {
  display: flex;
  flex-direction: column;
}

.header-anchors li p {
  text-align: right;
  font-size: 0.6rem;
}

.header-anchors li {
  transition: opacity 0.3s ease; /* Add a transition for smooth fading */
}

.header-anchors li:not(:hover) {
  opacity: 0.5; /* Reduce opacity for elements that are not being hovered */
}

.header-anchors li:hover {
  opacity: 1; /* Keep full opacity for the hovered element */
}


/* Start Section Styling */
#start-section {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

.start-content {
  margin-left: 13vw;
}

.start-details-container {
  display: flex;
}

.start-details {
  position: relative;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  left: 3rem;
  margin-right: 3rem;
}

.section-symbols-css {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 2rem;
  left: 1rem;
}

.section-title-css {
  color: var(--accent1);
}

.brackets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  /* Vertically center the brackets */
  height: 100%;
  font-size: 1.2rem;
  /* Adjust the font size as needed */
  position: relative;
  /* Position relative for pseudo-element */
  margin-bottom: 20px;
}

.first-bracket {
  position: relative;
}

.second-bracket {
  position: relative;
}

.brackets::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  /* Position it at the center horizontally of the container */
  width: 1px;
  /* Adjust the width as needed */
  height: calc(100% - 60px);
  /* Make the line cover the entire height of the container */
  background-color: var(--secondary1);
  /* Adjust the color as needed */
  transform: translateX(calc(-50% + 8px));
  /* Center the line horizontally on the container */
  margin-right: 5px;
  /* Adjust the margin to control the space between the brackets */
}

/* Optional: Style the elements */
.first-bracket,
.second-bracket {
  color: var(--accent1);
}

.hi-text {
  color: var(--secondary1);
  font-size: 1.2rem;
}

.start-title-name {
  color: var(--accent1);
  font-size: 4rem;
}

.start-caption-one {
  color: var(--secondary1);
  font-size: 2rem;
}

#glitchy-text {
  color: var(--secondary1);
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--accent1);
  animation: typing 2s steps(30, end), blink-caret 0.5s step-end infinite;
  font-weight: bold;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: var(--accent1);
  }
}

.start-caption-two {
  color: #828282;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.social-container:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.social-container {
  width: 40px;
  height: auto;
  transition: transform 0.2s;
}

.social-container img {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

.start-image-container {
  transform: perspective(22rem) rotateY(-13deg) rotateX(6deg)
}

.start-picture-container {
  width: 400px;
  height: auto;
  border: 2px solid white;
  overflow: hidden;
  z-index: 1;
}

.start-picture-container img {
  width: 100%;
  transform: scale(1.05);
  height: auto;
}

.start-image-code {
  position: relative;
  bottom: 35px;
  left: 260px;
  z-index: -1;
  font-size: 1.2rem;
}

/* About Section Styling */

.section-title {
  font-size: 4rem;
  color: var(--secondary1);
  text-align: center;
}

.about-content {
  display: flex;
  justify-content: left;
  margin-left: 11vw;
  margin-right: 11vw;
  padding-bottom: 20rem;
  position: relative;
  top: 80px;
}

.about-highlighted {
  color: var(--accent1);
  font-size: 1rem;
  text-align: right;
  margin-left: 20px;
}

.about-details-bullets {
  display: grid;
  grid-template-columns: 150px 6fr;
  justify-content: center;
}

.about-bullet-points {
  margin: 0;
  margin-left: 2rem;
}

.about-bullet-points div{
  display: flex;
  justify-content: left;
  gap: 0;
}

.about-details {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--secondary1);
  font-size: 1rem;
}

.about-details-body {
  text-align: left;
  margin-left: 2rem;
}

/* Skills Section Styling */
#auraThingy{
  height: 600px;
  width: 600px;
  background: rgb(12, 105, 67);
  background: radial-gradient(circle, rgba(57, 197, 69, 0.11) 0%,  transparent 70%);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
  position: fixed;
  z-index: 5;
  overflow: hidden;
  pointer-events: none;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.skill-area {
  width: 250px;
  height: 250px;
  border: 1px solid var(--secondary1);
  padding: 35px;
}

.skill-area-title {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.skill-area-icon {
  width: 35px;
  height: 35px;
}

.skill-area-icon img {
  width: 100%;
  height: 100%;
  color: white;
}

.skill-title {
  font-size: 2rem;
  color: var(--secondary1);
  font-weight: bold;
  text-decoration: solid;
}

.skill-tools {
  color: var(--secondary1);
  list-style: none;
  gap: 20px;
  padding: 0;
  font-size: 1.2rem;
}

/* Projects Section */
#projects-section {
  margin-top: 11rem;
  padding-top: 7rem;
  margin-left: 11vw;
  margin-right: 11vw;
  height: 500px;
}

.bg-colour {
  position: absolute;
  background-color: var(--primary2);
  width: 100%;
  height: 100%;
  z-index: -6;
}

.projects-container {
  display: flex;
  margin-top: 6rem;
  margin-left: 2rem;
  margin-right: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 75px;
  justify-content: left;
}

.project {
  display: flex;
  margin-bottom: 10px;
  min-width: 600px;
  gap: 20px;
  padding: 10px;
  border-radius: 15px;
  transition-property: background-color, filter, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover {
  cursor: pointer !important;
  background-color: rgba(43, 201, 38, 0.055);
  filter: drop-shadow(rgba(0, 0, 0, 0.04) 0px 10px 8px) drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 3px);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(148, 163, 184, 0.1) 0px 1px 0px 0px inset;
}

.project-image {
  width: 150px;
  height: 84px;
  background-color: var(--primary2);
  border-radius: 7px;
  display: flex;
}

.project-image img {
  width: 100%;
  height: auto;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.project-title {
  font-size: 1.8rem;
  font-weight: lighter;
  color: var(--secondary1);
}

.project-description {
  font-size: 0.9rem;
  color: var(--secondary1);
  font-weight: lighter;
}

.project-skills {
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px;
}

.project-skills li {
  padding: 5px 15px 5px 15px;
  color: var(--accent1);
  background-color: #38c2330e;
  border-radius: 40px;
}

.project-image p {
  text-align: center;
  display: flex;
  align-items: center;
  color: var(--secondary1);
}

footer {
  padding: 100px;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13202e;
}

.contact-description {
  margin-bottom: 2rem;
}

.contact-description h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--secondary1);
}

.contact-description p {
  font-size: 1.2rem;
  color: white;
  font-weight: lighter;
}

.contact-socials {
  color: var(--secondary1);
  font-size: 1.2rem;
}

.contact-socials a {
  display: block;
}

.contact-email {
  color: var(--accent1);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact-linkedin {
  margin-bottom: 1rem;
  transition: color 0.2s;
}

.contact-github {
  transition: color 0.2s;
}

.contact-email {
  transition: color 0.2s;
}

.contact-linkedin:hover {
  color: var(--accent1);
  cursor: pointer;
}

.contact-email:hover {
  color: var(--accent1);
  cursor: pointer;
}

.contact-github:hover {
  color: var(--accent1);
  cursor: pointer;
}

@media (max-width: 900px) {
  .header-anchors {
    display: none; /* Hide the menu items by default */
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 3; /* Set a higher z-index for the menu items */
    background-color: var(--primary2);
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 1.5rem;
  }

  #header-navbar {
    align-items: center;
  }

  #menu-button {
    display: block; /* Display the button */
    border-style: none;
  }

  .menu-button-container:hover {
    cursor: pointer;
  }

  .header-anchors li a {
    text-align: center;
  }

  .background-code {
    display: none;
  }

  .header-anchors li {
    padding: 40px;
    text-align: center;
  }
}

@media (max-width: 768px) {

  .about-details-bullets {
    grid-template-columns: none;
    grid-template-rows: 40px 1fr;
  }

  .about-highlighted {
    text-align: left;
  }

  .projects-container {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
    height: 400px;
  }

  .project {
    flex-direction: column;
    min-width: 90%;
    margin-right: 10px;
  }


  #auraThingy {
    display: none;
  }
}

@media (max-width: 600px) {

  .start-content {
    margin-left: 5vw;
    justify-content: left;
    margin-right: 4vw;
  }

  .start-title-name {
    font-size: 2.6rem;
  }
  .contact-description h1 {
    font-size: 2.3rem;
  }

  .start-caption-one {
    font-size: 1.8rem;
  }
}